body {
    background-image: url('https://img.freepik.com/free-photo/minimal-product-backdrop-gray_53876-147756.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Arial', sans-serif;
}

header,
footer {
    background-color: #007bff;
}

.card {
    background-color: #f8f9fa;
    border: none;
    border-radius: 10px;
}

.card i {
    font-size: 3rem;
}

.card-title {
    font-weight: bold;
}

.btn {
    border-radius: 50px;
}

.ratio {
    border-radius: 10px;
    overflow: hidden;
}

/* Hover effects for navigation */
.nav-link:hover {
    background-color: #0056b3;
    color: #ffffff !important;
    border-radius: 5px;
}

.selected {
    background-color: #0056b3 !important;
    color: #ffffff !important;
}